{{!< ../views/partials/layout.hbs}}

<form action="/create/show" method="post">
    <input type="text" name="showName" id="showName">
    <!--Add an input for description-->
    <!--Add an input for the show main img-->
    <input type="submit" value="Add show"> <!-- Turn this into a button and make an add sign to it with the color blue-->
</form>